@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #8EBA1C;
    --secondary-color: #000;
    --background-color: #F0EDEC;
    --text-color: #656161;
}

.banner {
    width: 100%;
    height: 800px;
    background: repeating-linear-gradient(90deg, transparent 0px, transparent 3px, rgba(0, 0, 0, 0.15) 3px, rgba(0, 0, 0, 0.15) 4px), 
    repeating-linear-gradient(0deg, transparent 0px, transparent 3px, rgba(0, 0, 0, 0.15) 3px, rgba(0, 0, 0, 0.15) 4px),
      linear-gradient(to right bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.25)), url(../img/banner-nutri3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

#sobre {
    display: flex;
    width: 100%;
    height: 850px;
}

#sobre .sobre_img,
#sobre .content_sobre {
    width: 50%;
    height: 100%;
    padding: 4rem;
}

.sobre_img img {
    width: 700px;
}

.content_sobre h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

.content_sobre h2 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0;
    color: var(--primary-color);
}

.content_sobre p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    margin: 20px 0;
}

.acompanhamento {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acompanhamento_titulo h2 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin: 40px 0;
    color: var(--primary-color);
}

.acompanhamento_cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.acompanhamento_cards .card {
    display: flex;
    align-items: center;
    width: 400px;
    height: 450px;
    padding: .5rem;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
    color: var(--primary-color);
    text-align: center;
}

.card-text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    margin: 20px 0;
    color: var(--secondary-color);
    text-align: center;
}

.acompanhamento_cards img {
    width: 80px;
}

.acompanhamento_btn {
    background-color: var(--secondary-color);
    color: #FFFFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 3rem;
}

#especialidades {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 1400px;
    background-color: var(--secondary-color);
}

.especialidades_titulo {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    padding: 2rem;
    color: var(--background-color);
}

.especialidades_titulo h2 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin: 40px 0;
    color: var(--background-color);
}

.especialidades_titulo h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    color: var(--background-color);
}

.especialidades_card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.especialidades_card .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 60%;
    height: 250px;
    padding: .5rem;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.especialidades_card .card2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 60%;
    height: 250px;
    padding: .5rem;
    background-color: var(--background-color);
    border-radius: 10px;
}

.especialidades_card .card-title {
    color: var(--background-color);
    font-size: 30px;
}

.especialidades_card .card-title2 {
    color: var(--primary-color);
}

.especialidades_card .card-text {
    color: var(--text-color);
    font-size: 15px;
}

.img img {
    width: 80px;
}